input,
button {
  padding: 1rem;
}

input {
  width: 345px;
}

button {
  cursor: pointer;
}

.image-link-form {
  position: absolute;
  top: 19rem;
  z-index: 30;
}

.description {
  font-size: 1.6rem;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}
